.title {
  text-align: center;
}

.container {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.list {
  flex: 3;
}

.selected {
  flex: 1;
}

table {
  width: 100%;
}

thead {
  text-align: left;
  font-size: 2rem;
}
